/* Created by: Jack LeVasseur
 * Created on: Jan 2024
*/
body {
  background-color: #6769bc;
}

h1 {
  background-color: rgb(0, 179, 255);
  color: hsl(147deg 50% 47%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #ff0000;
}